extends layout.pug

block style
  link(rel="stylesheet", href="/stylesheets/jobDetail.css")
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css", integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==", crossorigin="")


block content

  if jobFound
    h1= `${jobName}`
    div#map
    table#ticketTable.nonResponseTable
      thead
        tr
          th= "Ticket Number"
          th= "Street"
          th= "Cross Street"
          th= "Call-in Date"
          th= "Expiration Date"
          th= "Ticket Status"
          th= "Description"
      tbody
        each ticket in tickets
          tr 
            td 
              a(href=`../ticketDetail/${ticket.id}`) #{ticket.ticket_number}
            td #{ticket.street}
            td #{ticket.cross_street}
            td #{ticket.call_in_date_formatted}
            td #{ticket.expiration_date_formatted}
            if ticket.ticket_status
              td.clearTicketText Clear
            else
              td.pendingTicketText Pending
            td #{ticket.description}

  else
    h1= "Job not found"

block scripts
  script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js", integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==", crossorigin="")
  script(src="/scripts/jobDetail.js")
  script.
    drawPolylines(`#{positions}`)