extends layout.pug


block style
  link(rel="stylesheet", href="/stylesheets/ticketDetail.css")


block content
  if ticketFound
    h1= `${ticket.ticket_number}`
    table#ticketInfoTable
      tbody
        tr
          td Client:
          td #{ticket.client_name}
        tr
          td Job:
          td #{ticket.job_name}
        tr
          td City:
          td #{ticket.city}
        tr
          td Expiration Date:
          td #{ticket.expiration_date_formatted}

    table#responseTable
      thead
        tr
          th Utility Name
          th Utility Type
          th Response
          th Notes
          th Contacts
          th Last Update
      tbody
        each response in responses
          if response.good_highlight
            tr.clearRow
              td #{response.utility_name}
              td #{response.utility_type}
              td #{response.response}
              td #{response.notes}
              - let contactCellId = `contactCell${response.id}`;
              - let contactContainerId = `contactContainer${response.id}`;
              td(id=contactCellId).contactCell
                div(id=contactContainerId).contactContainer
                  button.dropDownButton Copy Contacts
                  div.dropDownLinks
                    if response.contact_number != ""
                      a(href=`tel:${response.contact_number_phone}`).contactNumber
                        h3.contactHeader Primary 
                        p.contactContent #{response.contact_number_name}
                        p.contactContent #{response.contact_number_phone}
                    if response.alternate_contact_number != ""
                      a(href=`tel:${response.alternate_number_phone}`).contactNumber
                        h3.contactHeader Alternate
                        p.contactContent #{response.alternate_number_name}
                        p.contactContent #{response.alternate_number_phone}
                    if response.emergency_contact_number != ""
                      a(href=`tel:${response.emergency_number_phone}`).contactNumber
                        h3.contactHeader Alternate
                        h3.contactHeader Emergency
                        p #{response.emergency_number_name}
                        p #{response.emergency_number_phone}
              td #{response.last_updated_formatted}
          else
            tr.pendingRow
              td #{response.utility_name}
              td #{response.utility_type}
              td #{response.response}
              td #{response.notes}
              - let contactCellId = `contactCell${response.id}`;
              - let contactContainerId = `contactContainer${response.id}`;
              td(id=contactCellId).contactCell
                div(id=contactContainerId).contactContainer
                  button.dropDownButton Copy Contacts
                  div.dropDownLinks
                    if response.contact_number != ""
                      a(href=`tel:${response.contact_number_phone}`).contactNumber
                        h3.contactHeader Primary 
                        p.contactContent #{response.contact_number_name}
                        p.contactContent #{response.contact_number_phone}
                    if response.alternate_contact_number != ""
                      a(href=`tel:${response.alternate_number_phone}`).contactNumber
                        h3.contactHeader Alternate
                        p.contactContent #{response.alternate_number_name}
                        p.contactContent #{response.alternate_number_phone}
                    if response.emergency_contact_number != ""
                      a(href=`tel:${response.emergency_number_phone}`).contactNumber
                        h3.contactHeader Alternate
                        h3.contactHeader Emergency
                        p #{response.emergency_number_name}
                        p #{response.emergency_number_phone}
              td #{response.last_updated_formatted}
  else
    h1= "Ticket not found"


block scripts
  script(src="/scripts/ticketDetailScript.js") 